.header {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 1;
    margin: 10px;
    padding-left: 222px;
    padding-right: 222px;
    height: 44px; 
}

/* to put them in the same line */
.header > * {
    display: flex;
    align-items: center;
    height: 100%;
}